/* General style */

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: seashell;
  opacity: 0.9; 
}

/* Nav section */

.nav__section{
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
}
.logo{
  margin-left: 10px;
  height: 50px;
}
.navbar {
  display: flex;
  text-decoration: underline;
}

/* Main image */

.main__image {
  height: 700px;
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
  align-items: center;
  justify-content: center;
  
  
}

.main__title {
  display: inline-flex;  
  background-color: black;
  width: 1200px;
  flex-direction: column;
  align-items: center;
}

/* Body */

.main__body {
  width: 1000px;
  text-align: center;
  margin: 60px auto 0 auto;
  
}
.images {
  display: inline-flex;
  flex-wrap: wrap;
  
}
.images img{
  height: 200px;
  width: 300px;
  padding-left: 30px;
}

.images  p {
  margin-top: 10px;
}


/* locations */

.location-bgimg {
  max-width: 1200px;
  background: url("https://c-o-d-e.github.io/tea-cozy/resources/img/img-locations-background.webp")
    no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  height: auto;
}

 .location-container {
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.location-container .location-box {
  min-width: 18.75rem;
  max-width: 18.75rem;
  height: 18.75rem;
  background-color: black;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-shrink: 1 0 auto;
  margin-bottom: 5rem;
}


.location-title {
  width: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;

}

/* footer*/

.contact-info {
  height: 200px;
  text-align: center;
}

.copyright {
  margin-left: 20px;
}